-
	var review = [
		{
			img: './images/review/1.jpg',
			name: 'Ирина Иванченко',
			skill: '2 полумарафона',
			p1: 'Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности. Через некоторое время решила обновить гаджет - не раздумывая обратилась туда же.',
			p2: 'Новые цели - новый гаджет!',
			p3:	'Спасибо, RunSmart! ',
		},
		{
			img: './images/review/2.jpg',
			name: 'Иван Сёмочкин',
			skill: '1 полумарафон',
			p1: 'Крутая штука-пульсометр. Обычно без них бегал. Оказывается только хуже себе делал. Купил пульсометр, ещё в подарок получил тренировку. Со мной вместе провели первую тренировку, научили пользоваться новым гаджетом. Также объяснили основы анатомии, составили план тренировок на месяц вперёд.',
			p2: 'С ними подготовился к своему первому полумарафону! Спасибо!!!',

		},
		{
			img: './images/review/3.jpg',
			name: 'Юлия Дашкина',
			skill: '2 полумарафона',
			p1: 'Долго не могла начать бегать, т.к. до этого несколько раз начинала, но становилось тяжело и я бросала. От друзей услышала о RunSmart и о беге с контролем пульса и решила попробовать.',
			p2: 'Позвонила, ребята поинтересовались моими целями и подобрали очень интересный вариант со скидкой! Теперь бегаю и наслаждаюсь бегом! Пробежала уже 2 полумарафона и несколько более коротких забегов и не намерена останавливаться!',
			p3:	'Спасибо!!!',
		}
	];

section.review
	.container
		h2.title отзывы клиентов
		each val in review
			.review__block
				img(src= val.img, alt= val.name).review__img
				.review__content
					h3.review__name= val.name
					.review__skill= val.skill
					p.review__text= val.p1
					p.review__text= val.p2
					p.review__text= val.p3

