-
	var fitness = [
		{
			img: './images/catalog/catalog.jpg',
			name: 'Пульсометр Polar FT1',
			desc: 'Для первых шагов в тренировках, основанных на сердечном ритме',
			link: 'ПОДРОБНЕЕ',
			oldPrice: '4 750 руб.',
			newPrice: '4 500 руб.',
			info: ['Вы услышите звуковое оповещение о нужном пульсе во время тренировки;','Вы увидите информативный графический индикатор целевых тренировочных зон пульса;','Также Вы увидите информацию о расходе калорий за тренировку;','Вы сможете посмотреть данные по 10 тренировкам.']
		},
		{
			img: './images/catalog/catalog.jpg',
			name: 'Пульсометр Suunto M2',
			desc: 'Пульсометр начального уровня с комфортным тканевым ремешком',
			link: 'ПОДРОБНЕЕ',
			oldPrice: '6 990 руб.',
			newPrice: '6 990 руб.',
			info: ['Вы услышите звуковое оповещение о нужном пульсе во время тренировки;','Вы увидите информативный графический индикатор целевых тренировочных зон пульса;','Также Вы увидите информацию о расходе калорий за тренировку;','Вы сможете посмотреть данные по 10 тренировкам.']
		},
		{
			img: './images/catalog/catalog.jpg',
			name: 'Пульсометр Polar FT4',
			desc: 'Улучшенная версия Polar FT1, имеющая следующие улучшения:',
			link: 'ПОДРОБНЕЕ',
			oldPrice: '7 390 руб.',
			newPrice: '7 021 руб.',
			info: ['Вы услышите звуковое оповещение о нужном пульсе во время тренировки;','Вы увидите информативный графический индикатор целевых тренировочных зон пульса;','Также Вы увидите информацию о расходе калорий за тренировку;','Вы сможете посмотреть данные по 10 тренировкам.']
		},
		{
			img: './images/catalog/catalog.jpg',
			name: 'Пульсометр Polar FT1',
			desc: 'Для первых шагов в тренировках, основанных на сердечном ритме',
			link: 'ПОДРОБНЕЕ',
			oldPrice: '4 750 руб.',
			newPrice: '4 500 руб.',
			info: ['Вы услышите звуковое оповещение о нужном пульсе во время тренировки;','Вы увидите информативный графический индикатор целевых тренировочных зон пульса;','Также Вы увидите информацию о расходе калорий за тренировку;','Вы сможете посмотреть данные по 10 тренировкам.']
		},
		{
			img: './images/catalog/catalog.jpg',
			name: 'Пульсометр Suunto M2',
			desc: 'Пульсометр начального уровня с комфортным тканевым ремешком',
			link: 'ПОДРОБНЕЕ',
			oldPrice: '6 990 руб.',
			newPrice: '6 990 руб.',
			info: ['Вы услышите звуковое оповещение о нужном пульсе во время тренировки;','Вы увидите информативный графический индикатор целевых тренировочных зон пульса;','Также Вы увидите информацию о расходе калорий за тренировку;','Вы сможете посмотреть данные по 10 тренировкам.']
		},
		{
			img: './images/catalog/catalog.jpg',
			name: 'Пульсометр Polar FT4',
			desc: 'Улучшенная версия Polar FT1, имеющая следующие улучшения:',
			link: 'ПОДРОБНЕЕ',
			oldPrice: '7 390 руб.',
			newPrice: '7 021 руб.',
			info: ['Вы услышите звуковое оповещение о нужном пульсе во время тренировки;','Вы увидите информативный графический индикатор целевых тренировочных зон пульса;','Также Вы увидите информацию о расходе калорий за тренировку;','Вы сможете посмотреть данные по 10 тренировкам.']
		},
	];
	var run = [
		{
			img: './images/catalog/catalog.jpg',
			name: 'Пульсометр Suunto M2',
			desc: 'Пульсометр начального уровня с комфортным тканевым ремешком',
			link: 'ПОДРОБНЕЕ',
			oldPrice: '6 990 руб.',
			newPrice: '6 990 руб.',
			info: ['Вы услышите звуковое оповещение о нужном пульсе во время тренировки;','Вы увидите информативный графический индикатор целевых тренировочных зон пульса;','Также Вы увидите информацию о расходе калорий за тренировку;','Вы сможете посмотреть данные по 10 тренировкам.']
		},
		{
			img: './images/catalog/catalog.jpg',
			name: 'Пульсометр Polar FT4',
			desc: 'Улучшенная версия Polar FT1, имеющая следующие улучшения:',
			link: 'ПОДРОБНЕЕ',
			oldPrice: '7 390 руб.',
			newPrice: '7 021 руб.',
			info: ['Вы услышите звуковое оповещение о нужном пульсе во время тренировки;','Вы увидите информативный графический индикатор целевых тренировочных зон пульса;','Также Вы увидите информацию о расходе калорий за тренировку;','Вы сможете посмотреть данные по 10 тренировкам.']
		},
	];
	var traitlon = [
		{
			img: './images/catalog/catalog.jpg',
			name: 'Пульсометр Polar FT4',
			desc: 'Улучшенная версия Polar FT1, имеющая следующие улучшения:',
			link: 'ПОДРОБНЕЕ',
			oldPrice: '7 390 руб.',
			newPrice: '7 021 руб.',
			info: ['Вы услышите звуковое оповещение о нужном пульсе во время тренировки;','Вы увидите информативный графический индикатор целевых тренировочных зон пульса;','Также Вы увидите информацию о расходе калорий за тренировку;','Вы сможете посмотреть данные по 10 тренировкам.']
		},
	];

section.catalog
	.container
		h2.title Каталог пульсометров
		ul.catalog__tabs
			li.catalog__tab.catalog__tab_active
				div Для фитнеса
			li.catalog__tab
				div для бега
			li.catalog__tab
				div для триатлона
		.catalog__content.catalog__content_active
			each val in fitness
				.catalog-item
					.catalog-item__wrapper
						.catalog-item__content.catalog-item__content_active
							img(src= val.img, alt= val.name).catalog-item__img
							h3.catalog-item__subtitle= val.name
							p.catalog-item__desc= val.desc
							a.catalog-item__link(href='#')= val.link
						ul.catalog-item__list
							each item in val.info
								li= item
							a.catalog-item__back(href="#") НАЗАД
					hr
					.catalog__footer
						.catalog__prices
							span.prices_old= val.oldPrice
							span.prices_new= val.newPrice
						a.btn.btn_catalog(href="#") КУПИТЬ
		.catalog__content
			each val in run
				.catalog-item
					.catalog-item__wrapper
						.catalog-item__content
							img(src= val.img, alt= val.name).catalog-item__img
							h3.catalog-item__subtitle= val.name
							p.catalog-item__desc= val.desc
							a.catalog-item__link(href='#')= val.link
						ul.catalog-item__list.catalog-item__list_active
							each item in val.info
								li= item
							a.catalog-item__back(href="#") НАЗАД
					hr
					.catalog__footer
						.catalog__prices
							span.prices_old= val.oldPrice
							span.prices_new= val.newPrice
						a.btn.btn_catalog(href="#") КУПИТЬ
		.catalog__content
			each val in traitlon
				.catalog-item
					.catalog-item__wrapper
						.catalog-item__content
							img(src= val.img, alt= val.name).catalog-item__img
							h3.catalog-item__subtitle= val.name
							p.catalog-item__desc= val.desc
							a.catalog-item__link(href='#')= val.link
						ul.catalog-item__list.catalog-item__list_active
							each item in val.info
								li= item
							a.catalog-item__back(href="#") НАЗАД
					hr
					.catalog__footer
						.catalog__prices
							span.prices_old= val.oldPrice
							span.prices_new= val.newPrice
						a.btn.btn_catalog(href="#") КУПИТЬ